@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$base-beige:#EEEBE0;
$main-text-navy:rgb(79, 119, 202);
$secondary-orange:#CD8C2A;
$off-white:#f6f1f1;

:root{
  background-color: $base-beige;
  height: 100svh;
  width: 100svw;
  font-family: "Montserrat", sans-serif;

}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $off-white;
  padding: 20px;
  
  #logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
    h1{
      font-family: "Concert One", sans-serif;
      font-size: 2rem;
      letter-spacing: 2px;
      color: $main-text-navy;
    }
    h2{
      font-family: "Montserrat", sans-serif;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 6px;
      text-transform: uppercase;
      color: $secondary-orange;
    }
}

  .mobile-menu-toggle{
    place-self: end;
    cursor: pointer;
    color: $secondary-orange;
  }
  .mobile-menu-toggle:hover {
    color: $main-text-navy;
    transition: all 0.3s ease-in-out;
  }


  nav {
    padding-top: 20px;
    text-decoration: none;
  
    a,a:visited{
      color: $main-text-navy;
      font-weight: 700;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-decoration: none;
    }
    a:hover {
      color: $secondary-orange;
      transition: all 0.3s ease-in-out;
  
    }
  }

  #mobile-nav {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      text-decoration: none;
    
      a,a:visited{
        padding: 20px 2px;
        width: 100%;
        text-align: left;
      }
      
      .sm-links{
        padding-top: 20px;
        display: flex;
        flex-direction: column; 
        gap: 20px;
        font-family:"Dancing Script", cursive;
        font-size: xx-large;
        color: $secondary-orange;
        font-weight: 700;
      }
    }
   
    #desktop-nav {
      display: none; 
     }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100svw;
  height: 100%;
  margin-top: 20px;
  padding:0 35px;
  gap: 20px;

  .photo{
    width: 90%;
    object-fit: cover;
    border: rgba(255, 255, 255, 0.585) 15px solid;
  }

  .script-highlight {
    font-family:"Dancing Script", cursive;
    font-weight: 700;
    letter-spacing:normal;
    font-size: 28pt;
    text-transform: none;

  }

  h1 { 
    color: $main-text-navy;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    // line-height: 1;
    // font-family: "Concert One", sans-serif;
 }

 p {
  font-size: medium;
  line-height: 1.5;
  color: grey;
 }

  .hero {
    text-align: center;
  }

  .work-preview {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100svw;
    background-color: white;
    padding: 20px;

    h1 {
      max-width: 230px;
    }
  }

}


@media screen and (min-width:750px) {
  header {
    #open,#close{
      display: none;
    }

    #mobile-nav {
      visibility: hidden;
      height: 0;
    }

    #desktop-nav {
      width: 90%;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      justify-self: center;
      align-self: center;
        a {
          font-size: x-small;
        }

        .sm-links{
          display: flex;
          align-items: center;
          gap: 10px;
          position: absolute;
          right: 20px;
          top: 20px;
          font-family:"Dancing Script", cursive;
          font-size: medium;
          color: $secondary-orange;
          font-weight: 700;

            svg{
              scale: 0.5;
              margin-top: 5px;
              margin-left: -10px;
            }

          }
    }
}

}

