@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$base-beige:#EEEBE0;
$main-text-navy:#4f77ca;
$secondary-orange:#CD8C2A;
$off-white:#f6f1f1;
$teal-highlight:#8cdfd4;

:root {
  background-color: $base-beige;
  height: 100svh;
  width: 100svw;
  font-family: "Montserrat", sans-serif;

}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $off-white;
  padding: 20px;
  
  #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
    h1{
      font-family: "Concert One", sans-serif;
      font-size: 2rem;
      letter-spacing: 2px;
      color: $main-text-navy;
    }
    h2{
      font-family: "Montserrat", sans-serif;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 6px;
      text-transform: uppercase;
      color: $secondary-orange;
    }
}

  .mobile-menu-toggle {
    place-self: end;
    cursor: pointer;
    color: $secondary-orange;
  }
  .mobile-menu-toggle:hover {
    color: $main-text-navy;
    transition: all 0.3s ease-in-out;
  }


  nav {
    padding-top: 20px;
    text-decoration: none;
  
    a,a:visited {
      color: $main-text-navy;
      font-weight: 700;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-decoration: none;
    }
    a:hover {
      color: $secondary-orange;
      transition: all 0.3s ease-in-out;
    }
  }

  #mobile-nav {
      height: 675px;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      text-decoration: none;
    
      a,a:visited{
        padding: 20px 2px;
        width: 100%;
        text-align: left;
      }
      
      .sm-links{
        padding-top: 20px;
        display: flex;
        flex-direction: column; 
        gap: 20px;
        font-family:"Dancing Script", cursive;
        font-size: xx-large;
        color: $secondary-orange;
        font-weight: 700;
      }
    }
   
    #desktop-nav {
      display: none; 
     }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100svw;
  // height: 100%;
  // margin-top: 20px;
  padding:0 35px;

  .photo {
    width: 90%;
    object-fit: cover;
    border: rgba(255, 255, 255, 0.585) 15px solid;
  }

  h1 { 
    color: $main-text-navy;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Concert One", sans-serif;
  }

  p {
    font-size: medium;
    line-height: 1.5;
    color: grey;
  }

 .script-highlight {
  font-family:"Dancing Script", cursive;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 28pt;
  text-transform: none;
  }

  .hero {  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 35px 0;
  }

  .work-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100svw;
    background-color: white;
    padding:35px;
    text-align: center;
    gap: 20px;

      h2 {
        font-family: "Concert One", sans-serif;
        display: flex;
        color: $main-text-navy;
        font-weight: 400;
        letter-spacing: 5px;
        text-transform: uppercase;
        max-width: 210px;
        margin-left: -20px;
        padding-bottom: 10px;
        align-items: center;
        border-bottom: $secondary-orange dotted 2px;
      }

      svg {
        scale: 2;
      }

      .work-label {
        color: $base-beige;
        background-color: $main-text-navy;
        padding: 10px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: -65px;
      }
    
    }

  .banner{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    .banner-img {
      position: relative;
      width: 100svw;
      object-fit: contain;
      z-index: -1;
      filter :brightness(0.8)
    }

    .banner-text {
      width: min-content;
      position: absolute;
      font-family:"Dancing Script", cursive;
      font-weight: 700;
      font-size: 34pt;
      z-index: 1;
      color: $off-white;
      padding-bottom: 16px;
      border-bottom :$secondary-orange 3px dotted;
    }
  }
}


.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  text-align: center;
  align-items: center;

  h3 {
    font-family: "Concert One", sans-serif;
    color: $main-text-navy;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    max-width: 210px;
  }

  .social-posts-footer {
    display: flex;
    justify-content: center;
    gap: 15px;

      img {
        width: 25vw;
        height: 25vw;
        object-fit: cover;
      }
  }

  .banner { 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    .banner-img {
      position: relative;
      width: 100svw;
      object-fit: contain;
      z-index: -1;
      filter :brightness(0.8)
    }

    .banner-text{
      display: flex;
      flex-direction: column;
      color: $off-white;
      width: 60vw;
      position: absolute;
      font-family:"Dancing Script", cursive;
      font-weight: 700;
      font-size: 34pt;
      z-index: 1;
      padding-bottom: 16px;
      border-bottom :$secondary-orange 3px dotted;

      a, a:visited{
        color: inherit;
        text-align: center;
        text-decoration: none;
      }
    }
  }

}

#meet-page {
  .about-photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: $off-white;
    width: 100vw;
  
    img {
      width: 90vw;
      height: 90vw;
      border: none;
      padding-bottom: 20px;
    }

    h2 {
      font-size: x-small;
      font-weight: 900;
      color: $main-text-navy; 
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    
    .script-highlight{
      color: $secondary-orange;
    }

    p {
      margin:30px 0;
    }

    .next {
      display: flex;
      align-items: center;
      border: none;
      background-color: inherit;
      font-size: x-small;
      font-weight: 900;
      color: $main-text-navy; 
      text-transform: uppercase;
      letter-spacing: 5px;
      cursor: pointer;
    }
  }
}

#details-page{
  .hero {
    img {
      width: 90vw;
      border: none;
    }

    h2 {
      font-size: x-small;
      font-weight: 900;
      color: $main-text-navy; 
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    
    .script-highlight{
      color: $secondary-orange;
    }
  }

  .services {
    display: flex;
    flex-direction: column; 
    gap: 40px;
    background-color: white;
    width: 100vw;
    padding:30px;
    text-align: center;

    h1 {
      border-bottom: $secondary-orange dotted 2px;
      padding-bottom: 16px;
    }

    .package {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .number {
        color: $teal-highlight;
        font-weight: 900;
        font-size: x-large;
      }

      .package-title{
        font-family:"Dancing Script", cursive;
        color: $secondary-orange;
        font-size: xx-large;
      }

      .price {
        padding: 10px 15px;
        width: max-content;
        background-color: $main-text-navy;
        color: $off-white;
        font-size: small;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }

    h2 {
      color: $secondary-orange;
      font-family:"Dancing Script", cursive;
      font-size: 3rem;
      line-height: 0.7;
    }
  }
}

#work-page {
  width: 100svw;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  gap: 40px;
  background-color: white;


  h1 {
    width: max-content;
    text-transform: none;
    letter-spacing: normal;
    color: $secondary-orange;
    font-family:"Dancing Script", cursive;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom :$secondary-orange 3px dotted;
  }

  .work-img {
    width: 90svw;
    height: 90svw;
    object-fit: cover;
    border: rgba(255, 255, 255, 0.585) 15px solid;
  }

  .work-h2 {
      font-family: "Concert One", sans-serif;
      margin-top: -30px;
      color: $main-text-navy;
  }
}

#contact-page {
  width: 100svw;
  height: 100svh;
  background-image: url("../photos/kevin-delvecchio-7noZJ_4nhU8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  justify-content: center;
  text-align: center;

  .contact-main {
    display: flex;
    width: 95%;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    background-color: $base-beige;

    
    .h1-first-line {
      font-family: "Montserrat", sans-serif;
      font-size: x-small;
      font-weight: 900;
      color: $main-text-navy; 
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    .h1-second-line{
        width: max-content;
        text-transform: none;
        letter-spacing: normal;
        color: $secondary-orange;
        font-family:"Dancing Script", cursive;
        font-size: 3rem;
        font-weight: 900;
        padding-bottom: 15px;
        border-bottom :$secondary-orange 3px dotted;
    }
    
    h2 {
      font-family: "Concert One", sans-serif;
      color: $main-text-navy;
      font-weight: 400;
      padding: 20px 0;
      letter-spacing: 5px;
      text-transform: uppercase;
      max-width: 210px;
    }

    input, #package{
      display: flex;
      width: 95%;
      padding: 10px;
      margin: 10px 0;
      border:none;
      color: $off-white;
      background-color: $secondary-orange;
    }

    #package {
      color: rgba(255, 255, 255, 0.5);
    }

    #submit {
      position: absolute;
      top: 113%;
      width: max-content;
      border: none;
      background-color: $main-text-navy;
      color: $off-white;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-weight: 900;
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  #submit-success {
    display: none;
  }
}


@media screen and (min-width:750px) {
  header {
    #open,#close{
      display: none;
    }

    #mobile-nav {
      visibility: hidden;
      height: 0;
    }

    #desktop-nav {
      width: 90%;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      justify-self: center;
      align-self: center;
        a {
          font-size: x-small;
        }

        .sm-links{
          display: flex;
          align-items: center;
          gap: 10px;
          position: absolute;
          right: 20px;
          top: 20px;
          font-family:"Dancing Script", cursive;
          font-size: medium;
          color: $secondary-orange;
          font-weight: 700;

            svg {
              scale: 0.5;
              margin-top: 5px;
              margin-left: -10px;
            }

          }
    }
}

}

